
<header class="header-wrap header-box-style header-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 p-0 d-lg-none d-block d-none-mobile">
                <div class="top-bar text-right">
                    <a href="mailto:modinatheme@gmail.com"><i class="fal fa-envelope"></i>info&#64;webmail.com</a>
                    <a href="tel:123-456-7890"><i class="fal fa-phone"></i>987-098-098-09</a>
                    <a href="donation.html" class="d-btn">Donate Now</a>
                </div>
            </div>
            <div class="col-xl-3 col-6 col-lg-3 pr-0">
                <div class="logo">
                    <a href="index.html"><img src= "assets/img/logo.png" alt="FundBux"></a>
                
                </div>
            </div>
            <div class="col-xl-9 pl-lg-0 col-lg-9 d-none d-lg-block">
                <div class="box-wrap">
                    <div class="top-bar text-right">
                        <a href="mailto:modinatheme@gmail.com"><i class="fal fa-envelope"></i>info&#64;webmail.com</a>
                        <a href="tel:123-456-7890"><i class="fal fa-phone"></i>987-098-098-09</a>
                        <a href="donation.html" class="d-btn">Donate Now</a>
                    </div>
                    <div class="menu-wrap d-flex align-items-center justify-content-around">
                        <div class="main-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a routerLink="/about">About Us</a></li>
                                <li><a href="causes.html">Programs and Projects</a>
                                    <ul class="sub-menu">
                                        <li><a href="causes.html">Causes List</a></li>
                                        <li><a href="cause-details.html">Causes details</a></li>
                                        <li><a href="donation.html">donation</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Pages</a>
                                    <ul class="sub-menu">
                                       
                                     
                                        <li><a href="team.html">Volunteer Registration</a></li>
                                        <li><a href="events.html">events</a></li>
                                        <li><a href="event-details.html">event details</a></li>
                                        <li><a href="faq.html">faq</a></li>
                                    </ul>
                                </li>
                                <li><a routerLink="/news">News</a></li>
                                <li><a routerLink="/news">Blog</a></li>
                                <li><a routerLink="/contact">Contact</a></li>
                            </ul>
                        </div>
                        <div class="social-link">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>                        
                </div>                    
            </div>                
            <div class="col-6 d-lg-none d-block pl-0">
                <div class="mobile-nav-wrap">                    
                    <div id="hamburger">
                        <i class="fal fa-bars"></i>
                    </div>
                    <!-- mobile menu - responsive menu  -->
                    <div class="mobile-nav">
                        <button type="button" class="close-nav">
                            <i class="fal fa-times-circle"></i>
                        </button>
                        <nav class="sidebar-nav">
                            <ul class="metismenu" id="mobile-menu">
                                <li><a class="has-arrow" href="#">Homes</a>
                                    <ul class="sub-menu">
                                        <li><a href="index.html">Homepage 1</a></li>
                                        <li><a href="index-2.html">Homepage 2</a></li>
                                        <li><a href="index-3.html">Homepage 3</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">about</a></li>
                                <li>
                                    <a class="has-arrow" href="causes.html">Causes</a>
                                    <ul class="sub-menu">
                                        <li><a href="causes.html">Causes List</a></li>
                                        <li><a href="cause-details.html">Causes details</a></li>
                                        <li><a href="donation.html">donation</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="faq.html">faq</a></li>
                                        <li><a href="events.html">events</a></li>
                                        <li><a href="event-details.html">event details</a></li>
                                        <li><a href="team.html">Team</a></li>
                                    </ul>
                                </li>
                                <li><a href="news.html">News</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav>

                        <div class="action-bar">
                            <a href="mailto:modinatheme@gmail.com"><i class="fal fa-envelope"></i>info&#64;webmail.com</a>
                            <a href="tel:123-456-7890"><i class="fal fa-phone"></i>987-098-098-09</a>
                            <a href="donation.html" class="d-btn theme-btn">Donate Now</a>
                        </div>
                    </div>                            
                </div>
                <div class="overlay"></div>
            </div>
        </div>
    </div>
</header>  